<section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1><span>M</span>urad <span>K</span>azimov</h1>
        </div>
        <link href="~/Website/style.css" rel="stylesheet" />
        <h2>My social media accounts</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="https://www.facebook.com/zuck/"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="https://twitter.com/elonmusk"><img src="https://img.icons8.com/bubbles/100/000000/twitter-circled.png" /></a>
            </div>
            <div class="social-item">
                <a href="https://linkedin.com/in/kazimovmurad"><img src="https://img.icons8.com/bubbles/100/000000/linkedin.png" /></a>
            </div>

        </div>
        <p>Copyright © 2022 Murad. All rights reserved</p>
    </div>
</section>
<!-- End Footer -->
<script src="./app.js"></script>